.App{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
#container{
    width: 400px;
    background-color: rgb(176, 170, 182);
    margin: 0 auto;
    padding: 30px;
}

input{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
ul,li{
    margin:0;
    padding:0;

}

.list{
    margin: 15px 0;
}
list > li{
    background-color: aliceblue;
    padding: 5px;
    margin-bottom: 2px;
}
.btn{
    display: flex;
    font-size: 50px;
    justify-content:initial;
}
.button:hover {

    background-color: #e67e22; /*Carrot*/
   
    color: white;
   }